@mixin base-text-styles(
  $padding,
  $backgroundColor: transparent,
  $property: null,
  $value: null
) {
  @if $backgroundColor != transparent {
    background-color: $backgroundColor;
  }
  @if $property != null {
    #{$property}: $value;
  }
  font-size: $base-font-size;
  margin-bottom: $margin-botton-font;
  padding: $padding;
}
